@model Wx.Share.Models.Wx.SharePage

@{
    ViewData["Title"] = Model.Title;
}

<div style="align-items: center; display: flex; justify-content: center;">
    <div style="margin: 100px auto 0;">
        <div id="qrcode"></div>
        <div style="margin: 20px auto 0; text-align: center; font-size: 30px">
            <text>扫描上方二维码分享给微信好友</text>
        </div>
    </div>
</div>

<script src="/js/qrcode.min.js"></script>
<script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: location.href,
        width: 500,
        height: 500,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
</script>